body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: #35176d; */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.purpleGradientContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, var(--first), var(--second));
    overflow-y: scroll;
}

.greyGradientContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--width);
    height: var(--height);
    border-radius: 1000px;
    background: linear-gradient(45deg, var(--first), var(--second));
}

.greyGradientContainer2 {
    margin-top: -70px;
    margin-left: 100px;
}

.greyGradientContainer3 {
    margin-top: -60px;
    margin-right: 50px;
}

.greyGradientContainer4 {
    margin-top: -20px;
    /* margin-right: 50px; */
}

.purpleContainerChildren {
    position: relative;
}

.flexCenter {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
}

.logoImg {
    width: 200px;
    height: 200px;
}

.logoTitle {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.1;
    color: #d8d8d8;
}

.loadingAnimation {
    width: 50px;
    height: 50px;
}

.darkLoader {
    filter: invert(13%) sepia(44%) saturate(3773%) hue-rotate(250deg) brightness(75%) contrast(120%);
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formInputField {
    width: 400px;
    min-height: 45px;
    max-height: 45px;
    border: 1px solid #24133f;
    border-radius: 25px;
    padding: 0 16px;
    margin: 10px 0;
    font-size: 16px;
    color: #d8d8d8;
    background-color: #35176d;
}

.actionBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 420px;
    min-height: 48px;
    max-height: 48px;
    border: none;
    border-radius: 25px;
    padding: 0 16px;
    margin: 10px 0;
    font-size: 16px;
    color: #f1f1f1;
    background-color: #d8d8d8;
    cursor: pointer;
}

.darkActionBtnContainer {
    background-color: #24133f;
}

.actionBtnText {
    font-size: 16;
    font-weight: 700;
    color: #24133f;
}

.darkActionBtnText {
    color: #d8d8d8;
}

.signInUpBtnContainer {
    margin-top: 70px;
    margin-bottom: 20px;
}

.signInUpText {
    margin-right: 5px;
    font-size: 16px;
    color: rgba(255,255,255,0.6);
}

.signInUpBtn {
    font-size: 16px;
    font-weight: 500;
    color: #d8d8d8;
    cursor: pointer;
}

/*----input fields placeholder color-------*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d8d8d8;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #d8d8d8;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #d8d8d8;
}

.center {
    text-align: center;
}

.redColored {
    color: red;
}

.noPadding {
    padding: 0;
}

/*media screens*/
@media screen and (max-width: 800px) {
    .greyGradientContainer {
        width: calc(var(--width) - 45px);
        height: calc(var(--height) - 45px);
    }

    .loadingAnimation {
        width: 40px;
        height: 40px;
    }

    .formInputField {
        width: 280px;
    }
    
    .actionBtnContainer {
        width: 300px;
    }

    .logoImg {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 500px) {
    .greyGradientContainer {
        width: calc(var(--width) - 52px);
        height: calc(var(--height) - 52px);
    }
}